@import "tailwindcss";
@plugin "daisyui";

body,
html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;

}



.underline {
  width: 0;
  margin-top: 2px;
  height: 2px;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  padding: 0;
}

.menu:hover .underline {
  width: 80%;
  opacity: 1;
  padding: 0;

}

.menu:hover .link_item {
  background-color: transparent;
  backdrop-filter: blur(50px);
  color: rgb(0, 157, 255);
  scale: calc(105%);
}

.menu:active .link_item {
  background-color: #eef2f6;
  color: rgb(0, 119, 192);
  scale: calc(95%);
}

body {
  /* Combine all layers */
  background:
    /* Grid layers */
    linear-gradient(rgb(106, 189, 240) 1px, transparent 1px),
    linear-gradient(90deg, rgb(109, 192, 244) 1px, transparent 1px),

    /* Soft radial glow */
    radial-gradient(circle 30em at 20% 30%, rgb(160, 229, 252) 2%, transparent 70%),
    radial-gradient(circle 30em at 70% 80%, #f5bc8a 2%, transparent 70%),

    linear-gradient(to bottom right, #e0f2fe 0%, #f3e8ff 100%);

  /* Grid sizing */
  background-size: 70px 70px, 70px 70px, cover, cover;

  /* Blend all layers smoothly */
  background-blend-mode: overlay, overlay, normal, normal;

  /* Keep it full screen */
  background-attachment: fixed;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin: 0;
}

@keyframes Color-Change {
  0% {
    background: cyan;
    box-shadow:0 0 70px 40px rgba(36, 216, 236, 0.4) ; 
  }

  25% {
    background: blue;
    box-shadow:0 0 70px 40px rgba(33, 65, 227, 0.4) ;  
  }

  50% {
    background: pink;
    box-shadow:0 0 70px 40px rgba(255, 41, 194, 0.545) ;
  }

  75% {
    background: purple;
    box-shadow:0 0 70px 40px rgba(216, 19, 230, 0.527) ;
  }

  100% {
    background: cyan;
    box-shadow:0 0 70px 40px rgba(42, 225, 253, 0.668) ; 
  }
}




.myself {

  animation: Color-Change 10s infinite;
  transition: all 0.7s ease-in-out;
  

}


@keyframes move-up-down {
  0% {
    transform: translateY(0px);
  }
  50%{
  transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }

  
}

.move-item{
  animation: move-up-down 3s ease-in-out infinite;
}

.prof-color{
  background: linear-gradient(90deg, #06b6d4, #8b5cf6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-card:hover .about-card-icon{
transform:scale(1.1);
}
.about-card:hover{
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  transform: translateY(-10px);
}
.about-card-icon{
  transition: all 0.5s ease-in-out ;
}

@keyframes blink {
  0% {
    background: #06b6d4; 
   }

  50% {
    background: transparent;
  }

  100% {
    background: #8b5cf6;
  }
}

.blink-cursor{
  animation: blink 0.5s infinite;
  display: inline-block;
}